<!-- ==================
==== IMAGE DISPLAY ====
======================= -->
<img class="photo-full" src="<%- photo.getPreviewSrc() %>"/>

<!-- =========================================
== UPDATE DESCRIPTION & DELETE BUTTONS ==
========================================= -->

<% if (photo.userId === args.id) { %>
  <form class="edit" name="update" action="/photo/update/<%- photo.get("id") %>" method="POST">
    <div class="button-rows">
      <button class="edit-button">Update Description</button>
        <% if (photo.userId === args.id) { %>
          <a class="button delete-button" name="delete" data-photoid="<%- photo.get("id") %>">REMOVE PHOTO</a>
        <% } %>
      <br/>
    </div>
    <textarea class="photo-description-edit" name="update"> <%- photo.get("description") %></textarea>
  </form>
      <% } else { %>
  	<div class="photo-description"><%- photo.get("description")%></div>
  		<% } %>

<!-- ============================
=== LIKE AND COMMENT BUTTONS ====
================================= -->

<div class="user-buttons">
  <form id="btn-like" method= "POST" action= "/photo/like/<%- photo.get("id") %>">
    <input name="photoid" type="hidden" value="<%- photo.get("id") %>"/>
      <button class="photo-like">
        <span class= "likes fa fa-heart"> <%- likes %></span>
      </button>
  </form>
    <a href="/photo/comment/<%- photo.get("id") %>"><button class="comment">Comment</button></a>
</div>

<!-- =====================
=== COMMENTS DISPLAY =====
========================== -->
<% if (comments && comments.length) { %>
  <% for (let i = 0; i < comments.length; i++) { %>
      <font class="username">
          <%= comments[i].user.get("username")%>:
      </font>
        <font class="comment-text">
          <%- comments[i].get("text") %>
        </font>
          <% } %>
          <% } else { %>
     <p class="comments-empty">No comments here!</p>
           <% } %>



<script src="/js/delete.js"></script>
<script src="/js/descriptionUpdate.js"></script>
